.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Home .header {
  font-size: 3em;
  text-transform: uppercase;
  padding: 1em 0;
}

.Home .body {
  max-width: 640px;
  width: 100%;
}
